doctype html
html
  head
      link(rel='stylesheet', type='text/css', media='screen', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', media='screen', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css')
      script(src='https://code.jquery.com/jquery-1.12.4.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
      script(src='/assets/js/bootstrap-markdown.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js')
  body
    .col-lg-12
      .animated.fadeIn
        .card
          .card-header
            strong=template.name
          .card-body.card-block.frame
             textarea#content(disabled, data-provide='markdown')=template.content

   